
{% extends  'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenu %}
<div class="main1 p-3">
    <div class="container-fluid">  
        
        
        <div class="titre"><h2>Historique des operations de calcul de volume bois d'un peuplement </h2></div>
        <br>
        <div class="row">  
            <div class="col">  
                <table class="table table-hover">  
                    <thead>  
                        <tr>  
                             
                            <th>Nom du projet</th>
                            <th>Type d'échantillonnage</th>
                            <th>Consulter</th>
                            <th>Supprimer</th>
                                   
                        </tr>  
                    </thead>  
                    <tbody> 
                        {% for operation in operations_liste%} 
                        <tr>  
                            
                            <td>{{ operation.Nom}}</td>
                            <td>{{ operation.TypeEchantillonage.Nom}}</td>
                            <td><a href="{% url 'Cubagepeuplement:strates' operation.id %}"><i class="fa-sharp fa-solid fa-eye" style="color: #6db6ee;"></i></a></td>   
                            <td><a href="{% url 'Cubagepeuplement:operation_delete' operation.id %}"><i class="fa-solid fa-trash" style="color: #e51f1f;"></i></a></td>  
                           
                        </tr> 
                        {% endfor %} 
                    </tbody>  
                </table>  
            </div>  
        </div>  
    </div>  
<br>

</div>


{% endblock %}