.gitignore
video/
*.mp4
*.mov
*.avi

*.sql
*.dump
*.backup
*.docx
*.pdf
*.tmp

SIG_TC/sigWeb/backup.sql
SIG_TC/sigWeb/backup_db.dump
SIG_TC/sigWeb/db.sqlite3

*.pdf
*.zip
*.7z

java/
postgrsql/
*.exe

SIG_TC/mon_envi/
SIG_TC/mon_envi_old/
__pycache__/
*.pyc
