{% extends  'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenu %}
<div class="main p-0">
    <div class="container-fluid p-3 ">
        
        <div class="titre"><h2>Calcul de Rendement liège</h2></div>
        <br>
        <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
    
        <button type="submit" class="btn btn-outline-info" >Rechercher</button>
    
        </form>
        {% if message %}
        <br>
        <div class="alert alert-danger text-center" role="alert">
            {{message}}.
          </div>
        {% endif %}
    </div>
</div>


{% endblock %}